<ul class="nav-list">
  {{ partial "main-menu-items" . }}
</ul>


<!-- <a class="btn secondary"
  href="https://go.nrelabs.io/catalog/">
  Find Lesson Content
</a> -->

<a class="btn secondary disabled"
  href="https://nrelabs.io/">
  Lesson Catalog Unavailable
</a>

<!--
  implemented as distinct from above menu to avoid transitioning on page resize.
  this prevents the menu from flickering when moving from the header to off-screen.
-->
<ul class="burger-nav">
  {{ partial "main-menu-items" . }}
</ul>